In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
from sqlalchemy import text

In [ ]:
# Pass the connection string to a variable, conn_url
conn_url = 'postgresql://postgres:123@localhost/Test_8.4'

In [ ]:
# Create an engine that connects to PostgreSQL server
engine = create_engine(conn_url, pool_pre_ping=True)

In [ ]:
# Establish a connection
connection = engine.connect()

In [ ]:
# Pass the SQL statements that create all tables
tables = ["""
-- Store Table (Entity)

CREATE TABLE Stores (
	store_id		int,
	store_name		varchar(100) NOT NULL,
	address			varchar(500) NOT NULL UNIQUE,
	PRIMARY KEY (store_id)
);""",


"""
-- Vendor Table (Entity)

CREATE TABLE Vendors (
	vendor_id		int,
	vendor_name		varchar(300) NOT NULL,
	vendor_phone	varchar(100),
	vendor_email	varchar(100),
	vendor_address		varchar(500) NOT NULL UNIQUE,
	PRIMARY KEY (vendor_id)
);""",


"""
-- Product Table (Entity)

CREATE TABLE Products (
	product_id		int,
	product_name	varchar(200) NOT NULL,
	product_category	varchar(100) NOT NULL,
	vendor_id		int,
	PRIMARY KEY (product_id),
	FOREIGN KEY (vendor_id) REFERENCES Vendors (vendor_id)
);
"""


"""
-- Customer Table (Entity)

CREATE TABLE Customers (
	customer_id		int,
	first_name		varchar(50) NOT NULL,
	last_name		varchar(50) NOT NULL,
	customer_phone		varchar(100),
	customer_email		varchar(100),
	customer_address		varchar(500),
	PRIMARY KEY (customer_id)
);""",

"""
CREATE TABLE Customer_Loyalty (
	card_id		char(6),
	customer_id		int NOT NULL,
	points		int NOT NULL,
	PRIMARY KEY (card_id),
	FOREIGN KEY (customer_id) REFERENCES Customers (customer_id)
);""",

"""
-- Staff Related:

CREATE TABLE Departments (
	department_id	int,
	dept_name		varchar(100) NOT NULL,
	dept_budget		int NOT NULL,
	PRIMARY KEY (department_id)
);""",

"""
CREATE TABLE Staff (
	employee_id		int,
	store_id 		int NOT NULL,
	first_name		varchar(50) NOT NULL,
	last_name		varchar(50) NOT NULL,
	employee_email		varchar(100) NOT NULL UNIQUE,
	employee_phone		varchar(100),
	department_id		int NOT NULL,
	salary			int NOT NULL,
	hire_date		date NOT NULL,
	performance_rating		int,
	PRIMARY KEY (employee_id),
	FOREIGN KEY (store_id) REFERENCES Stores (store_id),
	FOREIGN KEY (department_id) REFERENCES Departments (department_id)
);""",

"""
-- Sales Table (Entity)

CREATE TABLE Sales (
	sale_id		int,
	store_id		int NOT NULL,
	total_amount		numeric(5,2) NOT NULL,
	sale_date		date NOT NULL,
	customer_id		int NOT NULL,
	PRIMARY KEY (sale_id),
	FOREIGN KEY (customer_id) REFERENCES Customers (customer_id),
	FOREIGN KEY (store_id) REFERENCES Stores (store_id)
);""",

"""
CREATE TABLE Managing (
	employee_id		int,
	managing		int NOT NULL,
	PRIMARY KEY (employee_id, managing),
	FOREIGN KEY (employee_id) REFERENCES Staff (employee_id),
	FOREIGN KEY (managing) REFERENCES Staff (employee_id)
);""",



"""
-- Delivery Company Table

CREATE TABLE Delivery_Company (
	company_id		int NOT NULL,
	company_name	varchar(300) NOT NULL,
	company_address		varchar(500) NOT NULL,
	company_contact		varchar(100),
	PRIMARY KEY (company_id)
);""",

"""
-- Deliveries Table (Entity)

CREATE TABLE Deliveries (
	order_id		int,
    vendor_id       int,
	company_id		int NOT NULL,
	store_id		int NOT NULL,
	delivery_date		date NOT NULL,
	PRIMARY KEY (order_id),
    FOREIGN KEY (vendor_id) REFERENCES Vendors (vendor_id),
	FOREIGN KEY (company_id) REFERENCES Delivery_Company (company_id)
);""",



"""
------ Relationship Sets ------

-- Inventory (between Stores, Products, Deliveries)

CREATE TABLE Store_Inventory (
	store_id 		int NOT NULL,
	product_id 		int NOT NULL,
	inventory_level			int NOT NULL,
	PRIMARY KEY (store_id, product_id),
	FOREIGN KEY (store_id) REFERENCES Stores (store_id),
	FOREIGN KEY (product_id) REFERENCES Products (product_id)
);""",

"""
-- Products Bought (between Products and Sales)

CREATE TABLE Products_Sold (
	sale_id		int NOT NULL,
	product_id 		int NOT NULL,
	quantity_sold		int NOT NULL,
    unit_price      numeric(4,2) NOT NULL,
	PRIMARY KEY (sale_id, product_id),
	FOREIGN KEY (sale_id) REFERENCES Sales (sale_id),
	FOREIGN KEY (product_id) REFERENCES Products (product_id)
);""",

"""
CREATE TABLE Products_in_Deliveries (
	order_id		int NOT NULL,
	product_id 		int NOT NULL,
	quantity 	int NOT NULL,
	unit_cost	numeric(4,2) NOT NULL,
	PRIMARY KEY (order_id, product_id),
	FOREIGN KEY (order_id) REFERENCES Deliveries (order_id),
	FOREIGN KEY (product_id)	REFERENCES Products (product_id)
);""",

"""
CREATE TABLE Product_History (
	product_id 		int NOT NULL,
  effective_date	date NOT NULL,
	unit_price 	numeric(4,2) NOT NULL,
	PRIMARY KEY (product_id, effective_date),
	FOREIGN KEY (product_id)	REFERENCES Products (product_id)
);""",

"""
CREATE TABLE Min_Inventory_Level (
    store_id INT NOT NULL,
    product_id INT NOT NULL,
    min_inventory_level INT NOT NULL,
    PRIMARY KEY (store_id, product_id),
    FOREIGN KEY (store_id) REFERENCES Stores (store_id),
    FOREIGN KEY (product_id) REFERENCES Products (product_id)
);"""
        ]

In [ ]:
for table in tables:
    try:
        with connection.begin():
            connection.execute(text(table))
    except Exception as e:
        print(f"An error occurred: {e}")

**Create Triggers for Loading Initial Data**

In [ ]:
n_triggers = [
"""
-- Shared Update Inventory Function --

CREATE OR REPLACE FUNCTION update_inventory_level(_store_id INT, _product_id INT, _quantity INT) RETURNS VOID AS $$
BEGIN
    -- Attempt to update the row
    UPDATE Store_Inventory
    SET inventory_level = inventory_level + _quantity
    WHERE store_id = _store_id AND product_id = _product_id;

    -- If no row was updated, insert a new row
    IF NOT FOUND THEN
        INSERT INTO Store_Inventory (store_id, product_id, inventory_level)
        VALUES (_store_id, _product_id, _quantity);
    END IF;
END;
$$ LANGUAGE plpgsql;""",

"""
-- Increment Inventory Function --

CREATE OR REPLACE FUNCTION increment_inventory() RETURNS TRIGGER AS $$
DECLARE
    _store_id INT;
BEGIN
    SELECT store_id FROM Deliveries
    WHERE order_id = NEW.order_id INTO _store_id;

    PERFORM update_inventory_level(_store_id, NEW.product_id, NEW.quantity);

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;""",

"""
-- Decrement Inventory Function --
-- Use when loading initial data (no error message) --
CREATE OR REPLACE FUNCTION decrement_inventory_no_error() RETURNS TRIGGER AS $$
DECLARE
    _store_id INT;
BEGIN
    SELECT store_id FROM Sales
    WHERE sale_id = NEW.sale_id INTO _store_id;

    PERFORM update_inventory_level(_store_id, NEW.product_id, -NEW.quantity_sold);

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;""",


"""
-- Inventroy Triggers --

CREATE TRIGGER update_inventory_after_delivery
AFTER INSERT ON Products_in_Deliveries
FOR EACH ROW
EXECUTE FUNCTION increment_inventory();

CREATE TRIGGER update_inventory_after_sale_no_error
AFTER INSERT ON Products_Sold
FOR EACH ROW
EXECUTE FUNCTION decrement_inventory_no_error();

""",

"""
--- Order Trigger ---
-- Triggered when the inventory level falls from above a certain minimum inventory level to below the minimum level --

CREATE OR REPLACE FUNCTION reorder_trigger() RETURNS TRIGGER AS $$
DECLARE
    _min_inventory_level INT;
BEGIN
    SELECT min_inventory_level
    FROM Min_Inventory_Level
    WHERE store_id = OLD.store_id AND product_id = OLD.product_id INTO _min_inventory_level;

    IF OLD.inventory_level >= _min_inventory_level AND NEW.inventory_level < _min_inventory_level THEN
        RAISE NOTICE 'Inventory level for product_id % in store_id % is below the minimum. Please reorder.', NEW.product_id, NEW.store_id;
    END IF;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;
""",

"""
CREATE TRIGGER check_reorder
AFTER UPDATE ON Store_Inventory
FOR EACH ROW
EXECUTE FUNCTION reorder_trigger();
"""
]

In [ ]:
for n_trigger in n_triggers:
    try:
        with connection.begin():
            connection.execute(text(n_trigger))
    except Exception as e:
        print(f"An error occurred: {e}")

## Load Data into the Notebook

**Stores**

In [ ]:
# Creating the mock data
data_store = {
    "store_id": [1, 2, 3, 4, 5],
    "store_name": ["Store One", "Store Two", "Store Three", "Store Four", "Store Five"],
    "address": ["123 Main St, New York City, NY",
                "456 Union Sq, New York City, NY",
                "789 Smith St, Brooklyn, NY",
                "321 Adams St, Brooklyn, NY",
                "654 Clark St, Brooklyn, NY"]
}

# Creating a DataFrame
df_store = pd.DataFrame(data_store)

# Printing the DataFrame
print(df_store)

   store_id   store_name                          address
0         1    Store One   123 Main St, New York City, NY
1         2    Store Two  456 Union Sq, New York City, NY
2         3  Store Three       789 Smith St, Brooklyn, NY
3         4   Store Four       321 Adams St, Brooklyn, NY
4         5   Store Five       654 Clark St, Brooklyn, NY

**Products**

In [ ]:
# Load the price history data
product_history = pd.read_excel('price_history.xlsx')
product_history

                           Product Name  Price Effective Date
0   Barbie with Robbie Chocolate Cookie   3.75     2022-07-26
1   Barbie with Robbie Chocolate Cookie   4.10     2022-10-24
2   Barbie with Robbie Chocolate Cookie   4.37     2022-12-23
3   Barbie with Robbie Chocolate Cookie   4.18     2023-04-22
4          Barbie with Robbie Croissant   2.04     2022-07-26
..                                  ...    ...            ...
90                Upper West Green Kale   3.69     2022-09-24
91                Upper West Green Kale   3.72     2022-11-23
92                Upper West Green Kale   3.57     2022-12-23
93                Upper West Green Kale   3.55     2023-04-22
94                Upper West Green Kale   3.47     2023-08-20

[95 rows x 3 columns]

**Customers & Sales**

In [ ]:
df = pd.read_excel('sales_v3.xlsx')
df.head()

,Sale ID,Customer First Name,Customer Last Name,Product*Quantity,Unit Price for each product,Total Amount,Sales Date,Customer Phone,Customer Email,Customer Address
0,2-1,Tammy,Raymond,"David's Farm Egg * 7, Beef Ribeye from Riversi...","David's Farm Egg : 3.82, Beef Ribeye from Rive...",164.46,2022-11-11,(163) 785-2038,tammy_0_raymond@example.com,"31908 Alvarez Mountains Apt. 282, Angelaberg, ..."
1,3-2,Scott,Johnston,Felicity's Organic Blueberry * 2,Felicity's Organic Blueberry : 7.15,14.30,2023-06-17,(197) 806-9763,scott_1_johnston@example.com,"95382 Moore Mission Suite 901, New Jacquelineb..."
2,4-3,Adrian,Cannon,"Hell Kitchen's Organic Potato * 2, Melissa's Y...","Hell Kitchen's Organic Potato : 1.29, Melissa'...",17.16,2023-02-06,(537) 996-9822,adrian_2_cannon@example.com,"175 Michelle Crossing Apt. 535, Tiffanymouth, ..."
3,5-4,Rhonda,Moyer,"Melissa's Yellow Kiwi * 7, Mckinnon's Organic ...","Melissa's Yellow Kiwi : 4.86, Mckinnon's Organ...",137.34,2023-07-15,(396) 861-2547,rhonda_3_moyer@example.com,"556 Alexis Ways, Kevinshire, ND 76289"
4,1-5,Sheila,Davis,"Butler's Greek Yogurt * 1, Upper West Green Ka...","Butler's Greek Yogurt : 2.42, Upper West Green...",25.07,2023-06-06,(728) 998-8651,sheila_4_davis@example.com,"71660 Rodney Fields Apt. 499, Ricemouth, WY 19765"

**Vendors & Deliveries**

In [ ]:
orders_df = pd.read_excel('orders_from_vendors_specific_vendors_v5.xlsx')
orders_df

,Order ID,Vendor Name,Product,Quantity,Unit Cost,Total Cost,Order Date,Vendor Contact Information,Delivery Company,Delivery Company Contact Information
0,1-1,Butler and the Lawn,Butler's Greek Yogurt,41,1.125,46.125,2022-07-30,"Phone: (718)917-6435x12942, Email: ucastaneda@...",Prime Package,"Phone: (718) 213-9709, Address: 11 Hoyt St, Br..."
1,3-2,Butler and the Lawn,Butler's Greek Yogurt,43,1.125,48.375,2022-07-31,"Phone: (718)917-6435x12942, Email: ucastaneda@...",Prime Package,"Phone: (718) 213-9709, Address: 11 Hoyt St, Br..."
2,3-3,Butler and the Lawn,Butler's Greek Yogurt,41,1.125,46.125,2022-08-03,"Phone: (718)917-6435x12942, Email: ucastaneda@...",Overnight Logistics,"Phone: (718) 103-8608, Address: 140 Cadman Pla..."
3,4-4,Butler and the Lawn,Butler's Greek Yogurt,46,1.125,51.750,2022-08-07,"Phone: (718)917-6435x12942, Email: ucastaneda@...",Swift Couriers,"Phone: (718) 333-4101, Address: 475 Kent Ave, ..."
4,1-5,Butler and the Lawn,Butler's Greek Yogurt,41,1.125,46.125,2022-08-09,"Phone: (718)917-6435x12942, Email: ucastaneda@...",Prime Package,"Phone: (718) 213-9709, Address: 11 Hoyt St, Br..."
...,...,...,...,...,...,...,...,...,...,...
2788,3-2789,Funny Gosling,Gosling's Whole Milk,41,1.915,78.515,2023-07-17,"Phone: 001-287-252-2092x28152, Email: dylan30@...",GlobeX Delivery,"Phone: (718) 553-3103, Address: 333 Adams St, ..."
2789,3-2790,Funny Gosling,Gosling's Whole Milk,43,1.915,82.345,2023-07-20,"Phone: 001-287-252-2092x28152, Email: dylan30@...",Fast & Secure Logistics,"Phone: (718) 663-4204, Address: 10 Jay St, Bro..."
2790,4-2791,Funny Gosling,Gosling's Whole Milk,43,1.915,82.345,2023-07-24,"Phone: 001-287-252-2092x28152, Email: dylan30@...",Brooklyn Express Couriers,"Phone: (718) 773-5305, Address: 20 Henry St, B..."
2791,4-2792,Funny Gosling,Gosling's Whole Milk,44,1.915,84.260,2023-07-26,"Phone: 001-287-252-2092x28152, Email: dylan30@...",Overnight Logistics,"Phone: (718) 103-8608, Address: 140 Cadman Pla..."
2792,4-2793,Funny Gosling,Gosling's Whole Milk,47,1.915,90.005,2023-07-29,"Phone: 001-287-252-2092x28152, Email: dylan30@...",Fast & Secure Logistics,"Phone: (718) 663-4204, Address: 10 Jay St, Bro..."

**Departments**

In [ ]:
departments = pd.read_csv('data_department.csv')

**Staff**

In [ ]:
staff = pd.read_csv('data_employee.csv')

## ETL

**1. Stores**

In [ ]:
df_store.to_sql(name='stores', con=engine, if_exists='append', index=False)

5

**2. Vendors**

In [ ]:
# Regenerate the vendor table from the orders_df dataframe
vendor_table = orders_df[['Vendor Name', 'Vendor Contact Information']].drop_duplicates()
vendor_table['vendor_id'] = range(1, len(vendor_table) + 1)
vendor_table['vendor_name'] = vendor_table['Vendor Name']
vendor_table['vendor_phone'] = vendor_table['Vendor Contact Information'].apply(lambda x: x.split(", ")[0].split(": ")[1] if pd.notnull(x) else np.nan)
vendor_table['vendor_email'] = vendor_table['Vendor Contact Information'].apply(lambda x: x.split(", ")[1].split(": ")[1] if pd.notnull(x) else np.nan)
vendor_table['vendor_address'] = vendor_table['Vendor Contact Information'].apply(lambda x: ", ".join(x.split(", ")[2:]).split(": ")[1] if pd.notnull(x) else np.nan)
vendor_table = vendor_table[['vendor_id', 'vendor_name', 'vendor_phone', 'vendor_email', 'vendor_address']]
vendor_table

,vendor_id,vendor_name,vendor_phone,vendor_email,vendor_address
0,1,Butler and the Lawn,(718)917-6435x12942,ucastaneda@erickson.org,"1 Washington Sq, Albany, NY 12210"
137,2,Kent Veggie Production,497-870-7927x87441,thomasstacy@barker.net,"100 State St, Albany, NY 12207"
282,3,Riverside Farm,(742)942-7096,rcohen@humphrey.org,"405 Lexington Ave, New York, NY 10174"
425,4,Upper West Farm,(900)532-5856x8144,zramsey@watson.biz,"2 Main St, Cortland, NY 13045"
561,5,Columbus Circle Ltd.,001-911-363-0403x8154,ewilliams@hines-lowe.com,"301 Exchange Blvd, Rochester, NY 14608"
700,6,Felicity's Awesome,486.929.3405,browland@shaffer-clayton.biz,"60 E 42nd St, New York, NY 10165"
843,7,Melissa's Awesome,+1-670-771-0571x29554,marcocox@joseph-day.info,"1 Clinton Ave, Albany, NY 12207"
985,8,Hell Kitchen Ltd.,+1-812-730-6653x6484,kimberlyconley@oliver.com,"1 Roosevelt Square, Mount Vernon, NY 10550"
1116,9,Funny Gosling,001-287-252-2092x28152,dylan30@kelly.com,"166 Albany Ave, Kingston, NY 12401"
1250,10,David Lynch Dream,001-541-763-1637,edwardscindy@reed.biz,"25 High St, Buffalo, NY 14203"
1393,11,Jenny's Awesome,996-805-7372x6401,xrussell@mitchell.org,"2 Washington St, Binghamton, NY 13901"
1534,12,Quaker,455.274.1899x81345,sonya96@tucker.info,"1 Lower Manhattan Plaza, New York, NY 10004"
1952,13,Pabst Brewing Company,001-549-738-4189,nataliecoffey@dominguez.com,"2 E Broad St, Rochester, NY 14614"
2092,14,Barbie and Robbie Company,6512824706,william09@huffman-hall.info,"350 5th Ave, New York, NY 10118"
2224,15,Hudson River Company,+1-692-581-4466x94816,denise09@ward-daniel.com,"130 South St, Glens Falls, NY 12801"
2507,16,Miss Rafferty,467-926-7249x5953,david90@ferguson.com,"1 Lincoln Square, Syracuse, NY 13202"

In [ ]:
vendor_table.to_sql(name='vendors', con=engine, if_exists='append', index=False)

16

**3. Products**

In [ ]:
# Get unique product names
unique_products = product_history['Product Name'].unique()

In [ ]:
# Create a dataframe with unique product names and corresponding IDs
product_id_df = pd.DataFrame({
    'product': unique_products,
    'product_id': range(1, len(unique_products) + 1)  # start IDs from 1
})

In [ ]:
product_id_df

                                       product  product_id
0          Barbie with Robbie Chocolate Cookie           1
1                 Barbie with Robbie Croissant           2
2              Beef Ribeye from Riverside Farm           3
3   Boneless Chicken Thigh from Riverside Farm           4
4                           Broccoli from Kent           5
5                        Butler's Greek Yogurt           6
6                              Columbus Orange           7
7                             David's Farm Egg           8
8               David's Organic Chicken Breast           9
9                 Felicity's Organic Blueberry          10
10                    Gosling's Organic Tomato          11
11                        Gosling's Whole Milk          12
12               Hell Kitchen's Organic Potato          13
13                      Hudson Atlantic Salmon          14
14                             Jenny's Avocado          15
15          Mckinnon's Organic Romaine Lettuce          16
16                       Melissa's Yellow Kiwi          17
17                      Pabst Blue Ribbon Beer          18
18                              Quaker Oatmeal          19
19                       Upper West Green Kale          20

In [ ]:
product_df = product_id_df.copy()

product_category = ['Bakery', 'Bakery', 'Meat', 'Meat', 'Vegetables', 'Diary & Eggs', 'Fruits',
                   'Diary & Eggs', 'Meat', 'Fruits', 'Vegetables', 'Diary & Eggs',
                   'Vegetables', 'Seafood', 'Fruits', 'Vegetables', 'Fruits', 'Beverages',
                   'Breakfast Foods', 'Vegetables']

product_df['product_category'] = product_category

product_df.columns = ['product_name', 'product_id', 'product_category']

product_df = product_df[['product_id', 'product_name','product_category']]

In [ ]:
# Recreate the mapping dictionary in the code environment
product_vendor_mapping = {
    "Barbie with Robbie Chocolate Cookie": "Barbie and Robbie Company",
    "Barbie with Robbie Croissant": "Barbie and Robbie Company",
    "Beef Ribeye from Riverside Farm": "Riverside Farm",
    "Boneless Chicken Thigh from Riverside Farm": "Riverside Farm",
    "Broccoli from Kent": "Kent Veggie Production",
    "Butler's Greek Yogurt": "Butler and the Lawn",
    "Columbus Orange": "Columbus Circle Ltd.",
    "David's Farm Egg": "David Lynch Dream",
    "David's Organic Chicken Breast": "David Lynch Dream",
    "Felicity's Organic Blueberry": "Felicity's Awesome",
    "Gosling's Organic Tomato": "Funny Gosling",
    "Gosling's Whole Milk": "Funny Gosling",
    "Hell Kitchen's Organic Potato": "Hell Kitchen Ltd.",
    "Hudson Atlantic Salmon": "Hudson River Company",
    "Jenny's Avocado": "Jenny's Awesome",
    "Mckinnon's Organic Romaine Lettuce": "Miss Rafferty",
    "Melissa's Yellow Kiwi": "Melissa's Awesome",
    "Pabst Blue Ribbon Beer": "Pabst Brewing Company",
    "Quaker Oatmeal": "Quaker",
    "Upper West Green Kale": "Upper West Farm",
}

# Create the mapping
product_to_vendor_id_mapping = product_df['product_name'].map(product_vendor_mapping).map(dict(zip(vendor_table['vendor_name'], vendor_table['vendor_id'])))

# Add the vendor_id column to the product DataFrame
product_df['vendor_id'] = product_to_vendor_id_mapping

# Check the first few rows of the DataFrame
product_df.head()

,product_id,product_name,product_category,vendor_id
0,1,Barbie with Robbie Chocolate Cookie,Bakery,14
1,2,Barbie with Robbie Croissant,Bakery,14
2,3,Beef Ribeye from Riverside Farm,Meat,3
3,4,Boneless Chicken Thigh from Riverside Farm,Meat,3
4,5,Broccoli from Kent,Vegetables,2

In [ ]:
product_df.to_sql(name='products', con=engine, if_exists='append', index=False)

20

**4. Product History**

In [ ]:
# Map product_id to product_history
product_history_id = [product_id_df.product_id[product_id_df['product'] == i].values[0] if any(product_id_df['product'] == i) else None for i in product_history['Product Name']]

# Add product_id to the main dataframe
product_history.insert(0, 'product_id', product_history_id)

product_history = product_history.drop(columns = 'Product Name')

product_history.columns = ['product_id','unit_price', 'effective_date']

In [ ]:
product_history.head()

   product_id  unit_price effective_date
0           1        3.75     2022-07-26
1           1        4.10     2022-10-24
2           1        4.37     2022-12-23
3           1        4.18     2023-04-22
4           2        2.04     2022-07-26

In [ ]:
product_history.to_sql(name='product_history', con=engine, if_exists='append', index=False)

95

**5. Customers**

In [ ]:
customer_df = df[['Customer First Name', 'Customer Last Name', 'Customer Phone', 'Customer Email', 'Customer Address']].drop_duplicates()

# Add incrementing integers
customer_df.insert(0, 'Customer ID', range(1, 1 + len(customer_df)))

customer_df.columns = ['customer_id', 'first_name', 'last_name', 'customer_phone', 'customer_email', 'customer_address']

In [ ]:
customer_df

,customer_id,first_name,last_name,customer_phone,customer_email,customer_address
0,1,Tammy,Raymond,(163) 785-2038,tammy_0_raymond@example.com,"31908 Alvarez Mountains Apt. 282, Angelaberg, ..."
1,2,Scott,Johnston,(197) 806-9763,scott_1_johnston@example.com,"95382 Moore Mission Suite 901, New Jacquelineb..."
2,3,Adrian,Cannon,(537) 996-9822,adrian_2_cannon@example.com,"175 Michelle Crossing Apt. 535, Tiffanymouth, ..."
3,4,Rhonda,Moyer,(396) 861-2547,rhonda_3_moyer@example.com,"556 Alexis Ways, Kevinshire, ND 76289"
4,5,Sheila,Davis,(728) 998-8651,sheila_4_davis@example.com,"71660 Rodney Fields Apt. 499, Ricemouth, WY 19765"
...,...,...,...,...,...,...
745,746,Nathan,Williams,(363) 398-0608,nathan_745_williams@example.com,"114 Lara Road, Lake Kelly, MS 97038"
746,747,Kelly,Chang,(221) 995-9110,kelly_746_chang@example.com,"2225 Castillo Neck Apt. 519, Greenside, CA 56036"
747,748,Bethany,Watson,(927) 556-7093,bethany_747_watson@example.com,"223 Eileen Fall Apt. 247, Michaelport, GA 89668"
748,749,Ryan,Clark,(275) 328-6703,ryan_748_clark@example.com,"5344 Michael Highway, North Teresafort, MO 60589"
749,750,Terrence,Ayers,(882) 932-4976,terrence_749_ayers@example.com,"39675 Brown Centers, South Abigail, FM 62428"

In [ ]:
customer_df.to_sql(name='customers', con=engine, if_exists='append', index=False)

750

**6. Customer_Loyalty**

In [ ]:
# Determine the number of customers to be assigned loyalty cards (50%)
num_cards = int(len(customer_df) * 0.5)

# Sample a subset of the customers
sampled_customers = customer_df.sample(num_cards)

# Create a separate counter for card_ids
card_ids_counter = range(1, num_cards + 1)

# Create loyalty card ids
card_ids = ["C" + str(id).zfill(5) for id in card_ids_counter]

# Generate random points between 50 and 1000 for each customer
points = np.random.randint(50, 1001, size=num_cards)

# Create the loyalty Dataframe
data_loyalty = {
    "card_id": card_ids,
    "customer_id" : sampled_customers['customer_id'].values,
    "points" : points
}
df_loyalty = pd.DataFrame(data_loyalty)

In [ ]:
df_loyalty

    card_id  customer_id  points
0    C00001          432     127
1    C00002           63     538
2    C00003          616     519
3    C00004          564     215
4    C00005          576     552
..      ...          ...     ...
370  C00371          357     551
371  C00372          348     857
372  C00373          134     506
373  C00374          336     940
374  C00375          196     379

[375 rows x 3 columns]

In [ ]:
df_loyalty.to_sql(name='customer_loyalty', con=engine, if_exists='append', index=False)

375

**7. Departments**

In [ ]:
#subset for department name & department ID
departments = departments.iloc[:, 0:2]

#strip white space
#departments['department_name'].str.replace(' ', '')
departments.columns = departments.columns.str.replace(' ', '')

departments = departments.rename(columns={"department_name": "dept_name"})

#replace irrelevant departments as Sales
departments_to_mask = ['UX Design', 'UX Writer', 'UI Research', 'Software ', 'Hardware', 'Web Developmet','Design Graphic', 'Research ', 'Digital Archive', 'Web Development', 'Networking']
mask_condition = departments['dept_name'].isin(departments_to_mask)
departments['dept_name'].mask(mask_condition, 'Sales', inplace=True)

# replace department names
departments['dept_name'].mask(departments['dept_name'] == 'HR Manager', 'HR', inplace=True)
departments['dept_name'].mask(departments['dept_name'] == 'QA Talent', 'HR', inplace=True)
departments['dept_name'].mask(departments['dept_name'] == 'Talent Acquisiton', 'HR', inplace=True)
departments['dept_name'].mask(departments['dept_name'] == 'Project Management', 'Management', inplace=True)
departments['dept_name'].mask(departments['dept_name'] == 'Quality Assurance', 'Distribution', inplace=True)
departments['dept_name'].mask(departments['dept_name'] == 'Product ', 'Distribution', inplace=True)

# replace department id
departments['id'].mask(departments['dept_name'] == 'Information Technology', 1, inplace=True)
departments['id'].mask(departments['dept_name'] == 'HR', 2, inplace=True)
departments['id'].mask(departments['dept_name'] == 'Distribution', 3, inplace=True)
departments['id'].mask(departments['dept_name'] == 'Sales', 4, inplace=True)
departments['id'].mask(departments['dept_name'] == 'Accounting', 5, inplace=True)
departments['id'].mask(departments['dept_name'] == 'Management', 6, inplace=True)

# add department budget column
conditions = [
    (departments['dept_name'] == 'Information Technology'),
    (departments['dept_name'] == 'HR'),
    (departments['dept_name'] == 'Distribution'),
    (departments['dept_name'] == 'Sales'),
    (departments['dept_name'] == 'Accounting'),
    (departments['dept_name'] == 'Management')
    ]

# create a list of the values we want to assign for each condition
values = [25000, 15000, 20000, 18000, 15000, 20000]

# create a new column and use np.select to assign values to it using our lists as arguments
departments['dept_budget'] = np.select(conditions, values)

departments = departments.drop_duplicates().sort_values('id')

departments.rename(columns={'id': 'department_id'}, inplace=True)

In [ ]:
departments

    department_id               dept_name  dept_budget
0               1  Information Technology        25000
4               2                      HR        15000
7               3            Distribution        20000
1               4                   Sales        18000
14              5              Accounting        15000
2               6              Management        20000

In [ ]:
departments.to_sql(name='departments', con=engine, if_exists='append', index=False)

6

**8. Staff**

In [ ]:
# match department id
id =  [1, 2, 3, 4, 5, 6]
weights = [0.1, 0.1, 0.1, 0.5, 0.1, 0.1]

staff['department_id '] = np.random.choice(id, size=len(staff), p=weights)

# rename column names to fit ER diagram & database schema
staff = staff.rename(columns={"email": "employee_email", "phone_number": "employee_phone"})

# add store id
import random
s_id = [1, 2, 3, 4, 5]
s_weights = [0.2, 0.2, 0.2, 0.2, 0.2]

random.seed(0)
staff['store_id'] = np.random.choice(s_id, size=len(staff), p=s_weights)

# edit salary
staff['salary'] = round(staff['salary']/1000,2)

# add performance rating
rating = [1, 2, 3, 4, 5]
r_weight = [0, 0.1, 0.4, 0.4, 0.1]
random.seed(0)
staff['performance_rating'] = np.random.choice(rating, size=len(staff), p=r_weight)

In [ ]:
staff.columns = staff.columns.str.strip()

In [ ]:
staff

,employee_id,first_name,last_name,employee_email,employee_phone,hire_date,department_id,salary,store_id,performance_rating
0,100,Steven,King,Steven.King@google.com,0812-9657-892,10/9/21,4,10000.00,3,4
1,101,Neena,Lim,Neena .Lim@google.com,0812-6547-879,1/10/21,3,12000.00,5,3
2,102,Lex,King,Lex.King@google.com,0857-6789-888,4/13/20,4,13000.00,5,3
3,103,Alexander,Smith,Alexander.Smith@google.com,0812-6789-555,7/16/19,4,19000.00,3,4
4,104,Bruce,Lee,Bruce.Lee@google.com,0857-6789-889,10/17/18,6,21000.00,2,4
5,105,David,Frenk,David.Frenk@google.com,0812-6789-556,1/18/18,4,23450.00,3,4
6,106,Nina,Boo,Nina.Boo@google.com,0857-6789-890,4/21/17,4,90000.79,5,2
7,107,Lisa,Nam,Lisa.Nam@google.com,0812-6789-557,7/23/16,4,23000.00,1,3
8,108,Jisoo,Kim,Jisoo.Kim@google.com,0857-6789-891,10/25/15,4,24000.00,3,4
9,109,Jennie,Park,Jennie.Park@google.com,0812-6789-558,1/26/15,4,78906.00,4,3
10,110,Jungkook,Jeon,Jungkook.Jeon@google.com,0857-6789-892,4/29/14,4,45000.00,4,5
11,111,Suho,Lee,Suho.Lee@google.com,0812-6789-559,7/31/13,4,25000.00,3,3
12,112,Jin,Kim,Jin.Kim@google.com,0857-6789-893,11/1/12,6,56000.00,1,4
13,113,Rose,Ji,Rose.Ji@google.com,0812-6789-560,2/3/12,4,89000.00,3,4
14,114,Dior,Christian,Dior.Christian@google.com,0857-6789-894,5/7/11,4,65000.00,2,4
15,115,Chen,Kim,Chen.Kim@google.com,0812-6789-561,8/8/10,1,43000.00,2,3
16,116,Lee,Shim,Lee.Shim@google.com,0857-6789-895,11/9/09,1,21000.00,2,4
17,117,Sehun,Ji,Sehun.Ji@google.com,0812-6789-562,2/10/09,4,22000.00,4,3
18,118,RM,Namjoon,RM.Namjoon@google.com,0857-6789-896,5/14/08,2,36000.00,2,3
19,119,Jimin,Park,Jimin.Park@google.com,0812-6789-563,8/16/07,4,65000.00,5,3
20,120,Hasok,Jung,Hasok.Jung@google.com,0857-6789-897,11/17/06,4,21000.00,5,4

In [ ]:
staff.to_sql(name='staff', con=engine, if_exists='append', index=False)

21

**9. Managing**

In [ ]:
managing_relationship = {
    "employee_id": [119, 113, 106, 110, 109, 116, 105, 115, 118],
    "managing": [104, 114, [103, 107, 117], 108, 120, 102, 101, [119, 113, 106, 110], [109, 116, 105]]
}

managing = pd.DataFrame(managing_relationship)

def flatten_list(lst):
    if isinstance(lst, list):
        return lst
    else:
        return [lst]

# Apply the function to flatten the 'managing' column
managing['managing'] = managing['managing'].apply(flatten_list)

# Create a new DataFrame by exploding the 'managing' column
managing_df = managing.explode('managing').reset_index(drop=True)

In [ ]:
managing_df

    employee_id managing
0           119      104
1           113      114
2           106      103
3           106      107
4           106      117
5           110      108
6           109      120
7           116      102
8           105      101
9           115      119
10          115      113
11          115      106
12          115      110
13          118      109
14          118      116
15          118      105

In [ ]:
managing_df.to_sql(name='managing', con=engine, if_exists='append', index=False)

16

**10. Sales**

In [ ]:
sales_df = df.copy()

# Define a function to extract the store ID from the sale ID
def extract_store_id(sale_id):
    return sale_id.split('-')[0]

# Define a function to extract the store ID from the sale ID
def extract_sale_id(sale_id):
    return sale_id.split('-')[1]

# Apply the function to the 'Sale ID' column
sales_df['Store ID'] = sales_df['Sale ID'].apply(extract_store_id)

sales_df['Sale ID'] = sales_df['Sale ID'].apply(extract_sale_id)

# Merge the sales data with the customer table to get the Customer ID
customer_columns = ['Customer First Name', 'Customer Last Name', 'Customer Phone', 'Customer Email', 'Customer Address']
sales_df = sales_df.merge(customer_df, how='left', left_on=customer_columns, right_on=['first_name', 'last_name', 'customer_phone',
                                                                                       'customer_email', 'customer_address'])

# Define the columns for the sales table
sales_columns = ['Sale ID', 'Store ID', 'Total Amount', 'Sales Date', 'customer_id']

# Create the sales table
sales_df = sales_df[sales_columns]

sales_df.columns = ['sale_id', 'store_id', 'total_amount', 'sale_date', 'customer_id']

In [ ]:
sales_df

     sale_id store_id  total_amount  sale_date  customer_id
0          1        2        164.46 2022-11-11            1
1          2        3         14.30 2023-06-17            2
2          3        4         17.16 2023-02-06            3
3          4        5        137.34 2023-07-15            4
4          5        1         25.07 2023-06-06            5
...      ...      ...           ...        ...          ...
9995    9996        2        141.93 2022-09-19          246
9996    9997        3         57.74 2023-02-25          247
9997    9998        4        134.58 2022-09-19          248
9998    9999        5         25.09 2023-03-05          249
9999   10000        1        108.12 2023-05-04          250

[10000 rows x 5 columns]

In [ ]:
sales_df.to_sql(name='sales', con=engine, if_exists='append', index=False)

1000

**11. Delivery_Company**

In [ ]:
# Regenerate the delivery company table from the orders_df dataframe
delivery_company_table = orders_df[['Delivery Company', 'Delivery Company Contact Information']].drop_duplicates()
delivery_company_table['company_id'] = range(1, len(delivery_company_table) + 1)
delivery_company_table['company_name'] = delivery_company_table['Delivery Company']
delivery_company_table['company_contact'] = delivery_company_table['Delivery Company Contact Information'].apply(lambda x: x.split(", ")[0].split(": ")[1] if pd.notnull(x) else np.nan)
delivery_company_table['company_address'] = delivery_company_table['Delivery Company Contact Information'].apply(lambda x: ", ".join(x.split(", ")[1:]).split(": ")[1] if pd.notnull(x) else np.nan)
delivery_company_table = delivery_company_table[['company_id', 'company_name', 'company_contact', 'company_address']]
delivery_company_table

,company_id,company_name,company_contact,company_address
0,1,Prime Package,(718) 213-9709,"11 Hoyt St, Brooklyn, NY"
2,2,Overnight Logistics,(718) 103-8608,"140 Cadman Plaza W, Brooklyn, NY"
3,3,Swift Couriers,(718) 333-4101,"475 Kent Ave, Brooklyn, NY"
6,4,Metro Delivery Services,(718) 323-0800,"300 Jay St, Brooklyn, NY"
7,5,Fast & Secure Logistics,(718) 663-4204,"10 Jay St, Brooklyn, NY"
8,6,Reliable Carriers,(718) 993-7507,"75 Poplar St, Brooklyn, NY"
9,7,GlobeX Delivery,(718) 553-3103,"333 Adams St, Brooklyn, NY"
11,8,Brooklyn Express Couriers,(718) 773-5305,"20 Henry St, Brooklyn, NY"
14,9,Parcel Hive,(718) 443-3402,"122 Ashland Pl, Brooklyn, NY"
36,10,QuickShip Solutions,(718) 883-6406,"111 Lawrence St, Brooklyn, NY"

In [ ]:
delivery_company_table.to_sql(name='delivery_company', con=engine, if_exists='append', index=False)

10

**12. Deliveries**

In [ ]:
# Generate the deliveries table from the orders_df dataframe
deliveries_table = orders_df[['Order ID', 'Vendor Name', 'Order Date', 'Delivery Company']].drop_duplicates()
deliveries_table['order_id'] = deliveries_table['Order ID'].apply(lambda x: int(x.split('-')[1]))
deliveries_table['store_id'] = deliveries_table['Order ID'].apply(lambda x: int(x.split('-')[0]))
deliveries_table['vendor_id'] = deliveries_table['Vendor Name'].map(vendor_table.set_index('vendor_name')['vendor_id'].to_dict())
deliveries_table['company_id'] = deliveries_table['Delivery Company'].map(delivery_company_table.set_index('company_name')['company_id'].to_dict())
deliveries_table['delivery_date'] = deliveries_table['Order Date']
deliveries_table = deliveries_table[['order_id', 'company_id', 'store_id', 'delivery_date', 'vendor_id']]

deliveries_table

      order_id  company_id  store_id delivery_date  vendor_id
0            1           1         1    2022-07-30          1
1            2           1         3    2022-07-31          1
2            3           2         3    2022-08-03          1
3            4           3         4    2022-08-07          1
4            5           1         1    2022-08-09          1
...        ...         ...       ...           ...        ...
2788      2789           7         3    2023-07-17          9
2789      2790           5         3    2023-07-20          9
2790      2791           8         4    2023-07-24          9
2791      2792           2         4    2023-07-26          9
2792      2793           5         4    2023-07-29          9

[2793 rows x 5 columns]

In [ ]:
deliveries_table.to_sql(name='deliveries', con=engine, if_exists='append', index=False)

793

**13. Min_Inventory_Level**

In [ ]:
# Regenerate a min_inventory_level table
min_inventory_level = pd.DataFrame({
    'store_id': np.repeat(orders_df['Order ID'].apply(lambda x: int(x.split('-')[0])).unique(), len(product_id_df)),
    'product_id': list(product_id_df['product_id']) * len(orders_df['Order ID'].apply(lambda x: int(x.split('-')[0])).unique()),
    'min_inventory_level': 10
})

min_inventory_level

    store_id  product_id  min_inventory_level
0          1           1                   10
1          1           2                   10
2          1           3                   10
3          1           4                   10
4          1           5                   10
..       ...         ...                  ...
95         5          16                   10
96         5          17                   10
97         5          18                   10
98         5          19                   10
99         5          20                   10

[100 rows x 3 columns]

In [ ]:
min_inventory_level.to_sql(name='min_inventory_level', con=engine, if_exists='append', index=False)

100

**14. Products_in_Deliveries**

In [ ]:
# Generate the products_in_deliveries table from the orders_df dataframe
products_in_deliveries_table = orders_df[['Order ID', 'Product', 'Quantity', 'Unit Cost']].copy()
products_in_deliveries_table['order_id'] = products_in_deliveries_table['Order ID'].apply(lambda x: int(x.split('-')[1]))
products_in_deliveries_table['product_id'] = products_in_deliveries_table['Product'].map(product_id_df.set_index('product')['product_id'].to_dict())
products_in_deliveries_table['quantity'] = products_in_deliveries_table['Quantity']
products_in_deliveries_table['unit_cost'] = products_in_deliveries_table['Unit Cost']
products_in_deliveries_table = products_in_deliveries_table[['order_id', 'product_id', 'quantity', 'unit_cost']]

products_in_deliveries_table

      order_id  product_id  quantity  unit_cost
0            1           6        41      1.125
1            2           6        43      1.125
2            3           6        41      1.125
3            4           6        46      1.125
4            5           6        41      1.125
...        ...         ...       ...        ...
2788      2789          12        41      1.915
2789      2790          12        43      1.915
2790      2791          12        43      1.915
2791      2792          12        44      1.915
2792      2793          12        47      1.915

[2793 rows x 4 columns]

In [ ]:
products_in_deliveries_table.to_sql(name='products_in_deliveries', con=engine, if_exists='append', index=False)

793

**15. Products_Sold**

In [ ]:
# Load the original dataframe again
temp_df = df.copy()

# Apply the function to 'Sale ID' column
temp_df['Sale ID'] = temp_df['Sale ID'].apply(extract_sale_id)

# Split the 'Product*Quantity' and 'Unit Price for each product' columns into lists
temp_df['Product*Quantity'] = temp_df['Product*Quantity'].str.split(', ')
temp_df['Unit Price for each product'] = temp_df['Unit Price for each product'].str.split(', ')

# Create a new dataframe where each row corresponds to a unique product within a sale
new_rows = []
for _, row in temp_df.iterrows():
    for product_quantity, product_price in zip(row['Product*Quantity'], row['Unit Price for each product']):
        product_q, quantity = product_quantity.rsplit(' * ', 1)
        product_p, price = product_price.split(' : ', 1)
        new_rows.append([row['Sale ID'], product_q, int(quantity), product_p, float(price)])

# Create a new dataframe with the new rows
products_sold = pd.DataFrame(new_rows, columns=['Sale ID', 'Product', 'Quantity', 'Product_price', 'Unit Price'])

# Drop the 'Product_price' column as it's not needed
products_sold = products_sold.drop(columns='Product_price')

In [ ]:
# Map product_id to products_sold
products_sold_id = [product_id_df.product_id[product_id_df['product'] == i].values[0] if any(product_id_df['product'] == i) else None for i in products_sold['Product']]

# Add product_id to the main dataframe
products_sold.insert(1, 'product_id', products_sold_id)

products_sold = products_sold.drop(columns = 'Product')

products_sold.columns = ['sale_id', 'product_id', 'quantity_sold', 'unit_price']

products_sold

      sale_id  product_id  quantity_sold  unit_price
0           1           8              7        3.82
1           1           3              6       18.07
2           1          11              5        3.82
3           1           2              5        2.04
4           2          10              2        7.15
...       ...         ...            ...         ...
30129    9999          13              6        1.29
30130    9999           3              1       17.35
30131   10000           9              7       14.14
30132   10000           6              1        2.39
30133   10000          18              1        6.75

[30134 rows x 4 columns]

In [ ]:
products_sold.to_sql(name='products_sold', con=engine, if_exists='append', index=False)

134

**Replace the Trigger**

In [ ]:
# Disable the trigger without error message
connection.execute(text("""
ALTER TABLE products_sold DISABLE TRIGGER update_inventory_after_sale_no_error"""))

In [ ]:
# New trigger with error message
triggers = [
"""
-- Decrement Inventory Function --
-- Activate after loading initial data --
CREATE OR REPLACE FUNCTION decrement_inventory() RETURNS TRIGGER AS $$
DECLARE
    _store_id INT;
BEGIN
    -- Check if inventory level after decrement is less than 0
    IF ((SELECT inventory_level FROM Store_Inventory
        WHERE product_id = NEW.product_id AND store_id = (SELECT store_id FROM Sales WHERE sale_id = NEW.sale_id)) - NEW.quantity_sold < 0) THEN
      RAISE EXCEPTION 'Inventory cannot be less than 0';
    END IF;

    SELECT store_id FROM Sales
    WHERE sale_id = NEW.sale_id INTO _store_id;

    PERFORM update_inventory_level(_store_id, NEW.product_id, -NEW.quantity_sold);

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;
""",


"""
-- New Trigger with Error Message --
CREATE TRIGGER update_inventory_after_sale
AFTER INSERT ON Products_Sold
FOR EACH ROW
EXECUTE FUNCTION decrement_inventory();

"""
]

In [ ]:
for trigger in triggers:
    connection.execute(text(trigger))

In [ ]:
#close connection
connection.close()